server/cache
server/logs
server/crash-reports
server/plugins/LuckPerms
server/plugins/bStats
server/plugins/PluginMetrics
server/plugins/HolographicDisplays
server/plugins/ProtocolLib
server/plugins/Racing
server/plugins/TheNewEconomy
server/plugins/uCars
server/plugins/Vault
server/plugins/racing*.jar
server/plugins/uCars/fuel.bin
server/world
server/world_nether
server/world_the_end
server/usercache.json
server/version_history.json
server/whitelist.json
server/spigot.yml
server/server.properties
server/permissions.yml
server/paper.yml
server/ops.json
server/help.yml
server/commands.yml
server/bukkit.yml
server/banned-ips.json
server/banned-players.json
server/eula.txt
.vscode
target
.idea
.settings
racing.iml